
# ── Obsidian Vault ─────────────────────────────────────────
VAULT_PATH=YourVaultPath
# ── Ollama ────────────────────────────────────────────────────
OLLAMA_HOST=http://ollama:11434     

# ── OpenClaw ──────────────────────────────────────────────────
OLLAMA_API_KEY=ollama-local
OPENCLAW_TOKEN=YourOpenClawToken
OPENCLAW_URL=http://localhost:18789

# Telegram

TELEGRAM_CHAT_ID=YourTelegramBotChatID